PORT=4001
MONGODB_URI=mongodb://127.0.0.1:27017/certiflow
JWT_SECRET=changeme
FRONTEND_URL=http://localhost:5173
CERTIFICATE_TEMPLATE_PATH=C:/ruta/a/certiflow/backend/templates/CERTIFICADO VERIFICAR.xlsx
LIBREOFFICE_PATH=C:\Program Files\LibreOffice\program/soffice.exe
SEED_DEFAULT_USER=true

